# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-southeast-1

# QuickSight Configuration
QUICKSIGHT_AWS_ACCOUNT_ID=560205085106
QUICKSIGHT_DASHBOARD_ID=db28b49a-e7c7-41d7-86ce-a199db18d8ae
QUICKSIGHT_NAMESPACE=default
